[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    padding: 50px;
}

body > div {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.repo-list li{
    margin-top: 50px;
}